<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Items</title>
    <%- include("bootstrap.ejs") %>
<%- include("Nav.ejs") %>
  </head>
  <body>
    <p class="display-3 text-center">Medicine Form</p>
    <div class="container my-3">
      <form action="/items" method="POST">
        <label for="Name">
          Medicine Name:
          <input type="text" name="Name" id="Name" />
        </label>
        <label for="qty">
          qty:
          <input type="number" name="qty" id="qty" />
        </label>
        <label for="list">
          Category:
          <select name="list" id="list">
            <option value="fever">fever</option>
            <option value="Covid-19">Covid-19</option>
            <option value="Cough">Cough</option>
            <option value="Others">Others</option>
          </select>
        </label>
        <label for="date">
          Date:
          <input type="Date" name="date" id="date" />
        </label>
        <button class="btn btn-danger rounded-pill">Submit</button>
      </form>
    </div>
  </body>
</html>
